@model Blockchain.Models.Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="hero-video mb-5 hero-static-img">
    @*info portada *@
    <div class="container-fluid p-0 section-banner"
         style="background-image: url(/img/portada.jpg);">

        <div class="container section-banner-content-container">
            <div class="section-banner-content">
                <div class="page-title">
                    <div class="page-text" style="padding-left: 0">
                        <h1 class="subtitle-2 white-text">Nueva Transaccions</h1>
                        <div class="line-decoration"></div>
                        <p class="p-type1 white-text">Valuación de Empresas y proyectos de inversión.<br>Fusiones y adquisiciones. </p>
                    </div>
                </div>
                <div class="my-clearfix"></div>
            </div>
        </div>

    </div>
</section>


<style>
    .button {
        font-family: 'Roboto',sans-serif;
        color: #FFF;
        text-transform: uppercase;
        border: 1px solid #F89937;
        display: inline-block;
        border-radius: 38px;
        width: 133px;
        height: 40px;
        text-align: center;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0;
        opacity: 1;
        border: 0px;
        padding: 0px 0px;
        margin: 0px;
        background: #F89937 0% 0% no-repeat padding-box;
        cursor: pointer;
        font-weight: 600;
    }

        .button:hover {
            background: #FFF 0% 0% no-repeat padding-box;
            background: -moz-linear-gradient(top, #fff 0%, #fff 99%);
            background: -webkit-linear-gradient(top, #fff 0%, #fff 99%);
            background: linear-gradient(to bottom, #fff 0%, #fff 99%);
            width: 133px;
            height: 40px;
            text-align: center;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0;
            opacity: 1;
            font-family: 'Roboto',sans-serif;
            color: #F89937;
        }

    .input {
        width: 100%;
        max-width: 519px;
        height: 41px;
        background: #FFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 13px;
        border-style: hidden;
        font-family: 'Roboto',sans-serif;
        font-size: 0.8rem;
        font-style: oblique;
        color: #707070;
        margin-bottom: 10px;
    }

    .label {
        font-family: 'Roboto',sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        color: #fff;
        margin: 0;
        cursor: pointer;
    }
</style>



<section class="container-fluid" style=" background-image: url(https://www.belatrixsf.com/wp-content/themes/Belatrix/images/cta-bg.jpg)">
    <div class="container py-5">
        <div class="col-12 col-md-6 mx-auto">
            <h2 class="text-center pt-5 pb-3 text-shadow text-white main-title">Agregar Nueva Transacccion</h2>
            <div class="row justify-content-md-center">
                <p class="lead text-center p-hightligted pt-1 text-white"> Transacciones cada vez mas seguras</p>
            </div>
        </div>
        <div style="display:block; text-align:center">

            <form asp-action="Create" style="display:block; text-align:center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:block">
                    <label name-="portLabel" id="portLabel" class="label" style="display:block;text-align:center">Puerto</label>
                    <input name-="port" id="port" class="input" value="@ViewBag.port" />
                </div>
                <div style="display:block">
                    <label asp-for="Monto" class="label" style="display:block;text-align:center"></label>
                    <input asp-for="Monto" class="input" />
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>
                <div style="display:block">
                    <label asp-for="Origen" class="label" style="display:block;text-align:center"></label>
                    <input asp-for="Origen" class="input" />
                    <span asp-validation-for="Origen" class="text-danger"></span>
                </div>
                <div style="display:block">
                    <label asp-for="Destino" class="label" style="display:block;text-align:center"></label>
                    <input asp-for="Destino" class="input" />
                    <span asp-validation-for="Destino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="button" />
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>



</section>










