
@{
    ViewData["Title"] = "Conocenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="hero-video mb-5 hero-static-img">
    @*info portada *@
    <div class="container-fluid p-0 section-banner"
         style="background-image: url(/img/portada.jpg);">

        <div class="container section-banner-content-container">
            <div class="section-banner-content">
                <div class="page-title">
                    <div class="page-text" style="padding-left: 0">
                        <h1 class="subtitle-2 white-text">Conocenos</h1>
                        <div class="line-decoration"></div>
                        <p class="p-type1 white-text">Nuestros Ingenieros. </p>
                    </div>
                </div>
                <div class="my-clearfix"></div>
            </div>
        </div>

    </div>
</section>


<section class="container module-section">
    <h2 class="text-center main-title col-md-8 col-sm-12 mx-auto">Gusto en conocerte</h2>
    <div class="line-decoration mx-auto"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-sm-12 lead text-center p-hightligted">
            <p>¿Alguna pregunta? Familiarícese con nuestra área de Recursos Humanos, lo ayudarán en su viaje de búsqueda de empleo. </p>
            <p></p>
        </div>
        <p></p>
    </div>
</section>

<section class="success gray-section pb-5">
    <div class="container">
        <div class="row p-1">
            <h3 class="subtitle text-center mx-auto mt-5">Integrantes</h3>

            <div class="ws-carousel-wrapper">
                <div id="IndustriesCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner overflow-visible row mx-auto position-relative">
                        <div class="semicolon-left"></div>
                        <div class="semicolon-right"></div>
                        <div class="col-lg-11 col-10 mx-auto carousel-wrapper">

                            <div class="carousel-item">
                                <div class="container item-content">
                                    <div class="comment-box text-center" style="text-align:center">
                                        <h4 class="highlight-3">Pablo</h4>
                                        <img src="https://avatars2.githubusercontent.com/u/38674624?s=460&v=4"
                                             style="border-radius: 50%; width: 230px; height:auto">
                                        <p class="p-type1 mb-3">Pablo Galarza Rosales <br> U201623578</p>
                                        <!-- 									 	<a class="orange-link" href=#>LEER MAS</a> -->
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="container item-content">
                                    <div class="comment-box text-center">
                                        <h4 class="highlight-3">Dash</h4>
                                        <img src="https://avatars1.githubusercontent.com/u/9257815?s=460&v=4"
                                             style="border-radius: 50%; width: 230px; height:auto">
                                        <p class="p-type1 mb-3">Jordy Rojas Aliaga <br> U201611283</p>
                                        <!-- 									 	<a class="orange-link" href=#>LEER MAS</a> -->
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item active">
                                <div class="container item-content">
                                    <div class="comment-box text-center">
                                        <h4 class="highlight-3">Alosilla</h4>
                                        <img src="https://avatars1.githubusercontent.com/u/43312463?s=460&v=4"
                                             style="border-radius: 50%; width: 230px; height:auto">                                       
                                        <p class="p-type1 mb-3">Juan Diego Alosilla <br> U201611283</p>
                                        <!-- 									 	<a class="orange-link" href=#>LEER MAS</a> -->
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="text-center">
                        <a class="carousel-control-prev" href="#IndustriesCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                        <a class="carousel-control-next" href="#IndustriesCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#IndustriesCarousel" data-slide-to="0" class="my-transition"></li>
                        <li data-target="#IndustriesCarousel" data-slide-to="1" class="my-transition"></li>
                        <li data-target="#IndustriesCarousel" data-slide-to="2" class="my-transition active"></li>
                        <li data-target="#IndustriesCarousel" data-slide-to="3" class="my-transition"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>