@{
    ViewData["Title"] = "Home Page";
}


<section class="hero-video mb-5 hero-static-img">
    @*info portada *@
    <div class="container-fluid p-0 section-banner"
         style="background-image: url(/img/portada.jpg);">

        <div class="container section-banner-content-container">
            <div class="section-banner-content">
                <div class="page-title">
                    <div class="page-text" style="padding-left: 0">
                        <h1 class="subtitle-2 white-text">Transacciones</h1>
                        <div class="line-decoration"></div>
                        <p class="p-type1 white-text">Valuación de Empresas y proyectos de inversión.<br>Fusiones y adquisiciones. </p>
                    </div>
                </div>
                <div class="my-clearfix"></div>
            </div>
        </div>

    </div>
</section>


<section class="container module-section">
    <h2 class="text-center main-title col-md-8 col-sm-12 mx-auto">Sistema de Transacciones</h2>
    <div class="line-decoration mx-auto"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-sm-12 lead text-center p-hightligted">
            <p>El trabajo final consta en construir una aplicación distribuida aplicando machine learning y blockchain para la solución de un problema en la industria peruana. Aplicando el correcto diseño de aplicaciones concurrentes. Se debe usar el lenguaje Go y el verificador de modelos Spin y Github.</p>
            <p></p>
        </div>
        <p></p>
    </div>
</section>


<section class="mt-6 module-section gray-section position-relative">
    <div class="first-image" style=" display: flex;   justify-content: center;   align-items: center; ">
        <div style=" display: flex;   justify-content: center;   align-items: center; ">
            <img src="https://www.cognierblock.com/img/bi-admin.gif" style="width: 100%; height:auto; ">
        </div>


    </div>
    <div class="container p-0">
        <div class="row">
            <div class="col-12 px-0">
                <div class="col-lg-6 col-sm-12 py-5">
                    <div class="p-type1">
                        <p>
                            <span class="p-first-sentence">
                                Blockchain
                            </span>
                            <br>La cadena de bloques, más conocida por el término en inglés blockchain, es un registro único, consensuado y distribuido en varios nodos de una red. En el caso de las criptomonedas, podemos pensarlo como el libro contable donde se registra cada una de las transacciones.
                            <br>Su funcionamiento puede resultar complejo de entender si profundizamos en los detalles internos de su implementación, pero la idea básica es sencilla de seguir.
                            <br>En cada bloque se almacena:
                        </p>
                        <p>
                            <br><span class="p-first-sentence">1.</span>Una cantidad de registros o transacciones válidas
                            <br><span class="p-first-sentence">2.</span>Información referente a ese bloque
                            <br><span class="p-first-sentence">3.</span>Su vinculación con el bloque anterior y el bloque siguiente a través del hash de cada bloque ─un código único que sería como la huella digital del bloque.
                        </p>
                        <p></p>
                    </div>
                    <p></p>
                </div>
                <p></p>
            </div>
            <p></p>
        </div>
        <p></p>
    </div>
</section>



<section class="container module-section">
    <div class="row pb-5 pl-0 pr-0 mt-5 division-line-module">
        <div class="col-lg-6 col-sm-12 pl-4 pr-4">
            <p>
                <span class="p-first-sentence">
                    ¿Por qué blockchain es tan segura?
                </span>              
            </p>
            <div class="line-decoration"></div>
            <div class="p-type1">
                <p>
                    Al ser una tecnología distribuida, donde cada nodo de la red almacena una copia exacta de la cadena, se garantiza la disponibilidad de la información en todo momento. En caso de que un atacante quisiera provocar una denegación de servicio, debería anular todos los nodos de la red, ya que basta con que al menos uno esté operativo para que la información esté disponible.
                </p>
            </div>       
          
        </div>


        <div class="col-lg-6 col-sm-12 p-0">
            <div class="img-box" style="background-image: url(https://media0.giphy.com/media/Me76K8l6R6jymb3rlm/giphy.gif);"></div>
            <p></p>
        </div>
        <p></p>
    </div>
</section>

